@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lora:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 20px;
    }

    body {
        @apply text-base-xs sm:text-base-sm lg:text-base;
    }

    a {
        @apply text-blue-500;

        &:hover {
            @apply underline;
        }

        &:visited {
            @apply text-purple-500;
        }
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    section {
        margin-bottom: 1.5rem;
    }

    p {
        @apply mb-3;
    }
}

.layout {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: auto;

    @media screen and (min-width: 576px) {
        grid-template-rows: auto 1fr;
        grid-template-columns: auto auto;
    }
}
