@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lora:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 20px;
    }

    body {
        @apply text-base-xs sm:text-base-sm lg:text-base;
    }

    a {
        @apply text-blue-500;

        &:hover {
            @apply underline;
        }

        &:visited {
            @apply text-purple-500;
        }
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    section {
        margin-bottom: 1.5rem;
    }

    p,
    ul,
    ol {
        @apply mb-3;

        &:last-child {
            @apply mb-0;
        }
    }

    ol {
        @apply list-decimal;
    }

    ul {
        @apply list-disc;
        padding-left: 1.25rem;
    }

    .list-unstyled {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .content-container {
        max-width: 75ch;
    }
}

.layout {
    display: grid;
    grid-template-rows: min-content auto min-content;
    grid-template-columns: auto;

    @media screen and (min-width: 576px) {
        /* grid-template-rows: auto 1fr; */
        grid-template-columns: 25% auto;
        grid-column-gap: 1.5rem;
    }

    @media screen and (min-width: 1024px) {
        /* grid-template-rows: auto 1fr; */
        grid-template-columns: 20% auto;
    }
}

h1 {
    overflow-wrap: anywhere;
    hyphens: auto;
}
